.app {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;  
}

@media (min-width: 576px) {
  .app {
    padding-right: 2rem;
    padding-left: 2rem;  
  }
} 
.main {
  padding: 0 .5rem;
}

.footer {
  text-align: right;
  margin: 1rem 0;
}

.footer :global hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}