.header {
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.postTitleLink {
  color: #0a50c2;
  border-bottom: 1px solid #0a50c2;
  padding: 2px 2px 1px;
}

a.postTitleLink:hover {
  background-color: #0a50c2;
  color: #fff;
}

.date {
  display: none;
}
@media (min-width: 576px) {
  .date {
    display: inline;
    padding-right: 1rem;
    font-family: sans-serif;
  }
} 
